body {
    font-family: Arial, sans-serif;
    background-color: #1a4e9ce2;
    text-align: center;
    padding: 50px;
}

.weather-app {
    background-color: #71aba6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(92, 79, 79, 0.596);
}

.search-box {
    margin-bottom: 20px;
}

#city-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #769210;
    border-radius: 5px;
}

#search-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #09090a;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}

.weather-info h2, .weather-info p {
    margin: 10px 0;
}
